*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    padding: 0.20px;
}
body{
   background-color: darkolivegreen;
   font-family: 'Bebas Neue', cursive;
}
.header{
    background-color: yellow;
    width: 1370px;
    margin-left: auto;
    height: 100px;
    margin-right: auto;
    margin-left: -5px;
}
.shop{
    font-size: 35px;
    color: rgb(115, 189, 4);
    margin-top: 25px;
    position: absolute;
}
.list{
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
}
.li{
    list-style: none;
}
.ul{
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 30px;
    position: absolute;
}
.box{
    display: flex;
    align-items: center;
}
:hover.list{
    color: brown;
    transition: 1s;
}
.name{
    border: none;
    outline: none;
    background-color: white;
    bottom: 90px;
    border: 2px solid greenyellow;
    width: 400px;
    height: 50px;
}

.name2{
    border: none;
    outline: none;
    background-color: white;
    bottom: 90px;
    border: 2px solid greenyellow;
    width: 400px;
    height: 50px;
}
.name3{
    border: none;
    outline: none;
    background-color: white;
    bottom: 90px;
    border: 2px solid greenyellow;
    width: 400px;
    height: 50px;
}
.name4{
    border: none;
    outline: none;
    background-color: white;
    bottom: 90px;
    border: 2px solid greenyellow;
    width: 400px;
    height: 50px;
}
.names2{
    margin-top: 20px;
}
.names3{
    margin-top: 20px;
}
.names4{
    margin-top: 20px;
}
.input-box{
   margin-top: 100px;
   margin-left: 400px;
}
.sign{
    text-decoration: none;
    color: yellow;
    padding: 15px 177px;
    margin-top: 20px;
    position: absolute;
    font-size: 20px;
    border: 1px solid yellow;
    background-color: darkolivegreen;
}
:hover.sign{
    color: white;
    background-color: black ;

}
.footer{
    width: 1350px;
    background-color: yellow;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.online{
    font-size: 35px;
    color: darkolivegreen;
    margin-top: 100px;
    position: absolute;
    margin-left: 100px;
}
.ul2{
   display: flex;
   align-items: center;
   margin-left: 300px;
   margin-top: 100px;
   position: absolute;
}
.card{
    width: 175px;
    height: 93px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
}
.img{
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
}
:hover.img{
    width: 50px;
}
:hover.card{
     background-color: rgb(255, 245, 245);
     transition: 1s;
     cursor: pointer;
}
.img2{
    margin-left: 50px;
    margin-top: 30px;
    width: 80px;
}
:hover.img2{
    width: 95px;
}
.apple{
    margin-left: 65px;
    margin-top: -5px;
}
.samsung{
    margin-left: 65px;
    margin-top: 10px;
}
.img3{
    margin-left: 60px;
    margin-top: 10px;
}
:hover.img3{
    width: 60px;
}
.mi{
    margin-left: 80px;
}
.asus{
  margin-left: 70px;
  margin-top: 10px;
}
.img4{
    margin-left: 49px;
    margin-top: 30px;
}
:hover.img4{
    width: 70px;
}
.hp{
    margin-left: 80px;
    margin-top: 5px;
}
.img5{
    margin-left: 60px;
    margin-top: 10px;
}
:hover.img5{
    width: 55px;
}
.card2{
    width: 175px;
    height: 93px;
    background-color: white;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 20px;
    margin-left: 30px;
}
.card3{
    width: 175px;
    height: 93px;
    background-color: white;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
    margin-left: 30px;
}
.card4{
    width: 175px;
    height: 93px;
    background-color: white;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 20px;
    margin-left: 30px;
}
.card5{
    width: 175px;
    height: 93px;
    background-color: white;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
    margin-left: 30px;
}
:hover.card2{
    background-color: rgb(255, 245, 245);
    transition: 1s;
    cursor: pointer;
}
:hover.card3{
    background-color: rgb(255, 245, 245);
    transition: 1s;
    cursor: pointer;
}
:hover.card4{
    background-color: rgb(255, 245, 245);
    transition: 1s;
    cursor: pointer;
}
:hover.card5{
    background-color: rgb(255, 245, 245);
    transition: 1s;
    cursor: pointer;
}
.card-box{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 150px;
}